body
{
  background: black;
  color: white;
}

.clavem
{
  margin: auto;
  max-width: 666px;
}

legend
{
  color: white;
}

*
{
  font-family: 'Exo 2', sans-serif;
  font-family: 'Audiowide', cursive;
}

h1
{
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 5rem;
  color: cyan;
  margin-bottom: -2rem;
  letter-spacing: 3px;
}

h2
{
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-variant: small-caps;
}

p
{
  font-family: 'Exo 2', sans-serif;
  text-align: justify;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

blockquote
{
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
}

::-webkit-input-placeholder
{
    color: #999;
}

.pure-form input[type=password],
.pure-form input[type=text]
{
  width: 100%;
  background: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: white;
  margin-bottom: 1rem;
  box-shadow: none;
  height: 48px;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.2rem;
}

.pure-form-stacked input[type=password]:focus,
.pure-form-stacked input[type=text]:focus
{
  border: 1px solid cyan;
}

.flex
{
  display: flex;
}

.pure-form:not(.pure-form-stacked) input[type=text],
.pure-form:not(.pure-form-stacked) input[type=password]
{
  margin-right: 1%;
  flex-grow: 1;
  font-variant: normal;
  font-size: 1rem;
}

.pure-form:not(.pure-form-stacked) input[type=text].copied
{
  color: #999;
  font-variant: small-caps;
  font-size: 1.2rem;
}

.pure-form:not(.pure-form-stacked) input[type=text]:focus,
.pure-form:not(.pure-form-stacked) input[type=password]:focus
{
  border: 1px solid #999;
}

.pure-form button,
.pure-form-stacked button
{
  width: 100%;
  border-radius: 0;
  background: transparent;
  color: white;
  font-family: 'Audiowide', cursive;
  border: 1px solid white;
  margin-bottom: 1rem;
  height: 48px;
}

.pure-form:not(.pure-form-stacked) button
{
  width: 10%;
  margin-right: 1%;
}

.pure-form:not(.pure-form-stacked) button:last-child
{
  margin-right: 0;
}

.pure-form button:focus,
.pure-form-stacked button:focus
{
  border: 1px solid cyan;
}

.pure-form button:active,
.pure-form-stacked button:active
{
  border: 1px solid cyan;
  background: rgba(0,255,255,0.2);
  color: cyan;
}

.result
{
  text-align: center;
  width: 100%;
  font-family: 'Audiowide', cursive;
}

#spinner
{
  display: none;
  width:100%;
}

.pure-form .pure-button-secondary,
.pure-form .pure-button-secondary:focus
{
  border: 1px solid #999;
  color: #999;
}

.pure-form .pure-button-secondary:active
{
  border: 1px solid cyan;
  color: cyan;
}

.pure-form input.aes-key-animation
{
  background: linear-gradient(270deg, transparent 20%, cyan 50%, transparent 80%);
	background-size: 600% 600%;
	-webkit-animation: Gradient 2s ease infinite;
	-moz-animation: Gradient 2s ease infinite;
	animation: Gradient 2s ease infinite;
}

@-webkit-keyframes Gradient
{
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@-moz-keyframes Gradient
{
	0%{background-position:0% 0%}
	50%{background-position:100% 100%}
	100%{background-position:0% 0%}
}

@keyframes Gradient
{
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

#aes-key-hidden
{
  position: absolute;
  opacity: 0;
  margin-left: -10000px;
}

footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p
{
  text-align: center;
  font-size: 0.8rem;
  color: #999;
}

a
{
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  font-family: 'Exo 2', sans-serif;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

::selection
{
    background: cyan;
    color: black;
}

::-moz-selection
{
    background: cyan;
    color: black;
}

.desktop
{
  display: block;
}

.mobile
{
  display: none;
}

@media screen and (max-device-width: 700px),
screen and (max-device-height: 790px)
{
  html, body
  {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
  }

  .clavem
  {
    width: 94%;
  }

  h1
  {
    height: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
  }

  h2
  {
    font-size: 6vw;
  }

  .pure-form input[type="password"],
  .pure-form input[type="text"],
  .pure-form input[type=""],
  .pure-form button,
  .pure-form-stacked button
  {
    height: 8vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .pure-form fieldset
  {
      margin-bottom: 2vh;
  }

  .pure-form:not(.pure-form-stacked) button
  {
    width: 100%;
  }

  .pure-form:not(.pure-form-stacked) input[type=text],
  .pure-form:not(.pure-form-stacked) input[type=password]
  {
    width: 100%;
  }

  .desktop
  {
    display: none;
  }

  .mobile
  {
    display: block;
  }

  footer
  {
    position: absolute;
  }

  footer p
  {
    text-align: center;
    font-size: 0.8rem;
    color: #999;
    margin: 0;
    margin-bottom: 2vh;
  }

  .can-be-hidden
  {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
}

@media screen and (max-device-width: 700px),
screen and (max-device-height: 500px)
{
    h1
    {
        font-size: 10vh;
    }

    .pure-form input[type="password"],
    .pure-form input[type="text"],
    .pure-form button,
    .pure-form-stacked button
    {
        font-size: 3vh;
    }
}
